<div class="header ion-text-wrap">
  <p class="page-title">{{group?.Name}}</p>
</div>

<ion-content>
  <div class="content description">{{group?.description}}</div>
  <div class="content exchange-date">The exchange will happen {{group?.date}}</div>
  <div class="content">This group has {{group?.People?.length}} of {{group?.numPeople}} spots filled</div>

  <div *ngIf="!inGroup" id="join-div">
    <!-- <ion-item lines="none">
      <ion-label>Your nickname for this group. Note: This cannot be changed later</ion-label> -->
      <p class="green-text">Your nickname for this group. Note: This cannot be changed later.</p>
      <ion-input class="input" [clearOnEdit]="true" placeholder="{{user?.Name}}" name="name" [(ngModel)]="nickname"
        required></ion-input>
    <!-- </ion-item> -->
    <ion-button id="join-btn" (click)="joinGroup()" size="large">Join group</ion-button>
  </div>

  <div class="content green-text" *ngIf="inGroup">You are already in this group!</div>


  <div class="foot-div">
    <ion-button id="back-btn" routerLink="/public-groups/{{userID}}" 
    routerDirection="back" size="large">Back</ion-button>
    <ion-button id="home-btn" routerLink="/user-home/{{userID}}" 
    routerDirection="back" size="large">Home</ion-button>
  </div>
</ion-content>