<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <!--Just page title for now-->
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--Container div holds main content-->
  <div id="container">
    <!--title-div wraps title for display purposes-->
    <div id="title-div"> 
      <ion-text class="title">ho ho hello there</ion-text>
    </div>
      <ion-button routerLink="/login">Login</ion-button>
      <ion-button routerLink="/sign-up">Sign up</ion-button>
  </div>

</ion-content>
