<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home check change
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div id="welcome"> 
      <p id="title">ho ho hello there</p>
    </div>
    <ion-button routerLink="/login">Login</ion-button>
    <ion-button routerLink="/sign-up">Sign up</ion-button>
  </div>
</ion-content>
