<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">Home</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">

  <!--Container div holds main content-->
  <div id="container">
    <!--title-div wraps title for display purposes-->
    <div id="title-div"> 
      <ion-text class="title">ho ho hello there</ion-text>
    </div>
      <ion-button routerLink="/login" size="large">Login</ion-button>
      <ion-button routerLink="/sign-up" size="large">Sign up</ion-button>
  </div>

</ion-content>
