<ion-header collapse="condense" class="header ion-padding-vertical">

  <!--TODO: make group color variable? Or store it in db somehow?-->
  <ion-toolbar class="red-background">
    <!--TODO: how to get text to wrap??-->
    <ion-title size="large">The test group</ion-title>
  </ion-toolbar>

  <p class="join-code">Join code: 3141592</p>
</ion-header>

<ion-content>
  <div class="content description">Here is a description of the group.</div>
  <div class="content exchange-date">Exchange date: Dec 24, 2022</div>
  <div class="content people-div">
    <p>People:</p>
    <!--TODO: make this an ngfor display of group members-->
    <!--Also pass person's name/id/whatever thru click event-->
    <p *ngFor="let person of people" class="member" routerLink="/person-view">{{person.Name}}</p>
    <!-- <p class="member" routerLink="/person-view">Bobbert</p>
    <p class="member" routerLink="/person-view">Joe Bob</p>
    <p class="member" routerLink="/person-view">Billy Bob</p>
    <p class="member" routerLink="/person-view">Bob</p>
    <p class="member" routerLink="/person-view">Boberta</p> -->
  </div>
  <ion-button expand="full" (click)="assignPartners()">Assign Partners and Send Message</ion-button>

  <div class="foot-div">
    <!--TODO: can the animation here go backwards?-->
    <ion-button routerLink="/user-home" routerDirection="back">Home</ion-button>
  </div>
</ion-content>