<ion-header class="header">

    <ion-title size="large">
      <div class="ion-text-wrap ion-padding-vertical">{{group?.Name}}</div>
    </ion-title>
    <p class="join-code">Join code: {{group?.joinCode}}</p>
    

 
</ion-header>

<ion-content>
  <div class="content description">{{group?.description}}</div>
  <div class="content exchange-date">The exchange will happen {{group?.date}}</div>
  <div class="content people-div">
    <p>People:</p>
    <p *ngFor="let person of people; let i=index" class="member person-p"
      routerLink="/person-view/{{person.id}}/{{group.id}}/{{userID}}">
      {{nicknames[i]}}
      <ng-container class="star-container" *ngIf="person.id === user.Groups[userGroupIndex].GifteeID">
        <ion-icon name="star"></ion-icon>
      </ng-container>
    </p>
  </div>
  <div *ngIf="group?.adminID === userID">
    <ion-button (click)="assignPartners()" *ngIf="group.People.length > 1">Assign Partners</ion-button>
    <ion-button (click)="deleteGroup()">Delete this group</ion-button>
  </div>

  <div class="foot-div">
    <ion-button routerLink="/user-home/{{userID}}" routerDirection="back">Home</ion-button>
  </div>
</ion-content>