<ion-header class="header ion-padding-vertical">

  <!--TODO: make group color variable? Or store it in db somehow?-->
  <ion-toolbar class="red-background">
    <ion-title size="large">
      <div class="ion-text-wrap">{{group?.Name}}</div>
    </ion-title>
  </ion-toolbar>

  <p class="join-code">Join code: {{group?.joinCode}}</p>
</ion-header>

<ion-content>
  <div class="content description">{{group?.description}}</div>
  <div class="content exchange-date">The exchange will happen {{group?.date}}</div>
  <div class="content people-div">
    <p>People:</p>
    <p *ngFor="let person of people" class="member" routerLink="/person-view/{{person.id}}/{{group.id}}/{{userID}}">
      {{person?.Name}}
      <ng-container *ngIf="person.id === user.Groups[userGroupIndex].GifteeID"> STAR</ng-container>
      <!-- TODO: change 'STAR' to actual star image -->
    </p>
  </div>
  <ion-button expand="full" (click)="assignPartners()">Assign Partners and Send Message</ion-button>

  <div class="foot-div">
    <ion-button routerLink="/user-home/{{userID}}" routerDirection="back">Home</ion-button>
  </div>
</ion-content>