<ion-header class="header ion-padding-vertical">

  <!--TODO: make group color variable? Or store it in db somehow?-->
  <ion-toolbar class="red-background">
    <!--TODO: how to get text to wrap??-->
    <ion-title size="large">{{person?.Name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="giftee-div" *ngIf="ispartner">
    <ion-icon name="star"></ion-icon>
    <p class="giftee-msg">Get this tiny tot a gift!</p>
  </div>

  <div class="content likes">Likes: {{person?.Interests}}</div>
  <div class="content phone">Phone: {{person?.PhoneNumber}}</div>

  <div class="foot-div">
    <!--TODO: can the animation here go backwards?-->
    <ion-button routerLink="/group-view/{{groupID}}/{{userID}}" routerDirection="back">Done</ion-button>
  </div>
</ion-content>