<ion-header class="header ion-padding-vertical">

  <ion-toolbar class="red-background">
    <ion-title size="large">
      <div class="ion-text-wrap">{{person?.Name}}</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="giftee-div" *ngIf="ispartner">
    <ion-icon name="star"></ion-icon>
    <p class="giftee-msg">Get this tiny tot a gift!</p>
  </div>

  <div class="content likes">Likes: {{person?.Interests}}</div>
  <div class="content phone">Phone: {{person?.PhoneNumber}}</div>

  <div class="foot-div">
    <ion-button routerLink="/group-view/{{groupID}}/{{userID}}" routerDirection="back">Done</ion-button>
  </div>
</ion-content>