// class to set bkgd to red (for ion-toolbar)
.red-background {
    --background: #CC2936;
}

// styling for non-header/-footer elements
.content {
    font-size: 1.4em;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

// keep home button at bottom of page
.foot-div {
    position: fixed;
    bottom: 0.5%;
    left: 1%
}

// div to display on giftee's page
.giftee-div {
    align-items: center;
    border: 2px solid #251605;
    display: flex;
    height: 12%;
    padding: 2%;
}

// styling for conditional div on giftee's page
.giftee-msg {
    font-family: 'Inconsolata';
    font-size: 1.5em;
    margin-left: 5%;
}

// class for styling page header
.header {
    background-color: #CC2936;
}

// styling for home button
ion-button {
    --background: #F3B700;
    --background-activated: #F3B700;
    font-size: larger;
}

// more styling for non-header/-footer elements
ion-content {
    margin-left: 5%;
}

// styling for star icon
ion-icon {
    color: #F3B700;
    font-size: xx-large;
}

// set padding for page header
.ion-padding-vertical {
    padding: 15% 0;
}

// styling for page title/welcome msg
ion-title {
    color: #FFFCF2;
    font-size: 2.5em;
    text-align: left;
    white-space: normal;
}