<ion-header>
  <!--TODO: figure out spacing so we don't need a placeholder ion-header-->
  <ion-toolbar>
    <ion-title>sign-up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
      <!--TODO: make Back button and ion-title display inline-->
    <ion-buttons>
      <ion-back-button defaultHref="/home">Back</ion-back-button>
    </ion-buttons>
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <!--Container div holds main content-->
  <div id="container">
    <!--title-div wraps title for display purposes-->
    <div id="title-div">
      <strong class="title">create account</strong>
    </div>

    <form (ngSubmit)="signUp()" [formGroup]="info">
      <ion-item lines="none">
        <ion-input class="input" type="email"
        [clearOnEdit]="true" placeholder="email"
        formControlName="email" required></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input class="input" type="password"
        [clearOnEdit]="true" placeholder="password"
        formControlName="password" required></ion-input>
      </ion-item>

      <!-- <ion-item lines="none">
        <ion-input class="input" type="password"
        [clearOnEdit]="true" placeholder="confirm password"
        formControlName="confirm_pw" required></ion-input>
      </ion-item> -->

      <ion-button id="done-btn" type="submit" [disabled]="!info.valid">Done</ion-button>

    </form>

    <!--TODO: make this an ngfor display?-->
    
    
    

    <!-- <ion-button id="done-btn" routerLink="/create-profile" (click)="doneClicked()">Done</ion-button> -->
    

  </div>
</ion-content>
