<ion-header>
  <ion-toolbar>
    <ion-title>create-group</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-buttons>
      <ion-back-button defaultHref="/new-group"></ion-back-button>
    </ion-buttons>
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!--title-div wraps title for display purposes-->
    <div id="title-div">
      <strong class="title">start a group</strong>
    </div>

    <!--TODO: make this an ngfor display?-->
    <ion-item lines="none">
      <ion-input class="input"[clearOnEdit]="true" placeholder="group name"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-input class="input" type="tel" [clearOnEdit]="true" placeholder="exchange date"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-input class="input" type="tel" [clearOnEdit]="true" placeholder="number of people (optional)"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-textarea class="input" [clearOnEdit]="true" placeholder="group description"></ion-textarea>
    </ion-item>

    <div id="button-div">
      <ion-button id="cancel-btn" routerLink="/user-home" routerDirection="back">Cancel</ion-button>
      <ion-button id="done-btn" routerLink="/group-view">Done</ion-button>
    </div>

  </div>
</ion-content>
