<ion-header collapse="condense">
  <ion-buttons>
    <ion-back-button defaultHref="/new-group/{{userID}}"></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <!--title-div wraps title for display purposes-->
    <div id="title-div">
      <strong class="title">start a group</strong>
    </div>


    <form (ngSubmit)="makeGroup()" #f="ngForm">
      <ion-item lines="none">
        <ion-input class="input" placeholder="group name" name="name" [(ngModel)]="groupName"
          required></ion-input>
      </ion-item>

      <ion-datetime-button datetime="datetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true" name="modal">
        <ng-template>
          <ion-datetime id="datetime" min="{{currentDate}}" name="date" [(ngModel)]="groupDate" required></ion-datetime>
        </ng-template>
      </ion-modal>

      <ion-item lines="none">
        <ion-input class="input" type="tel" placeholder="max number of people" name="numPeople"
          [(ngModel)]="numPeople" reqired></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-textarea class="input" placeholder="group description" name="description"
          [(ngModel)]="groupDescription" required></ion-textarea>
      </ion-item>

      <ion-item lines="none" class="public-toggle">
        <ion-label>Public group?</ion-label>
        <ion-toggle slot="end" name="isPublic" [(ngModel)]="isPublic"></ion-toggle>
      </ion-item>

      <div id="nickname-div">
        <p id="nickname-text">Your nickname for this group. Note: This cannot be changed later.</p>
        <ion-input class="input" [clearOnEdit]="true" placeholder="{{user?.Name}}" name="name" [(ngModel)]="nickname"
        required></ion-input>
      </div>

      <div id="button-div">
        <ion-button id="cancel-btn" routerLink="/user-home/{{userID}}" routerDirection="back">Cancel</ion-button>
        <ion-button type="submit" [disabled]="!ngForm.valid">Done</ion-button>
      </div>
    </form>

  </div>
</ion-content>