<ion-header class="header ion-padding-vertical">

  <ion-toolbar class="green-background">
    <p class="name-label">Name</p>
    <ion-item class="input-name">
      <ion-input value={{user?.Name}} [clearInput]="true" [(ngModel)]="newName"></ion-input>
    </ion-item>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-item class="input-interests">
    <ion-label position="stacked">Interests</ion-label>
    <ion-input value={{user?.Interests}} [clearInput]="true" [(ngModel)]="newInterests"></ion-input>
  </ion-item>

  <ion-item class="input-email">
    <ion-label position="stacked">Email</ion-label>
    <ion-input value={{user?.email}} [clearInput]="true" type="email" [(ngModel)]="newEmail"></ion-input>
  </ion-item>

  <ion-item class="input-phone">
    <ion-label position="stacked">Phone Number</ion-label>
    <ion-input value={{user?.PhoneNumber}} [clearInput]="true" type="tel" [(ngModel)]="newPhone"></ion-input>
  </ion-item>

  <div class="foot-div">
    <ion-button id="cancel-btn" routerLink="/user-home/{{userID}}" size="large">Cancel</ion-button>
    <ion-button (click)="editProfile()" size="large">Save</ion-button>

  </div>
</ion-content>