// styling for cancel button
#cancel-btn {
    --background: #251605;
    --background-activated: #251605;
}

// styling for delete button
#delete-btn {
    --background: #CC2936;
    --background-activated: #CC2936;
}

// keep Done button at bottom of page
.foot-div {
    justify-content: space-evenly;
    display: flex;
    position: fixed;
    bottom: 1%;
    width: 100%;
}

// class to set bkgd to green (for ion-toolbar)
.green-background {
    --background: #138A36;
}

// class for styling page header
.header {
    background-color: #138A36;
}

// styling for ion-item that holds Name input
.input-name {
    color: #FFFCF2;
    font-size: 2.5em;
    font-weight: bold;
    text-align: left;
    width: 90%;
    max-width: 90%;
}

// style Done button
ion-button {
    --background: #F3B700;
    --background-activated: #F3B700;
    font-size: larger;
}

// use shadow part to set background color for input
ion-item.input-name::part(native) {
    background-color: #138A36;
  }

// set padding for page header
.ion-padding-vertical {
    padding: 12% 0;
}

// styling for page title/welcome msg
ion-title {
    color: #FFFCF2;
    font-size: 2.5em;
    text-align: left;
    white-space: normal;
}

// styling for name input label
// (avoid ion-input turning blue on focus)
.name-label {
    color: #FFFCF2;
    font-weight: bold;
    margin-bottom: 0%;
    margin-left: 6%;
    padding-bottom: 0%;
}