<ion-header collapse="condense">
  <ion-buttons>
    <ion-back-button defaultHref="/new-group/{{userID}}">Back</ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content [fullscreen]="true">

  <!--Container div holds main content-->
  <div id="container">
    <!--title-div wraps title for display purposes-->
    <div id="title-div">
      <strong class="title">join a group!</strong>
    </div>
    <ion-item lines="none">
      <ion-input class="input" placeholder="group code" [(ngModel)]="code"></ion-input>
    </ion-item>

    <!--TODO: use grid to get these on same line-->
    <div id="button-div">
      <ion-button id="cancel-btn" routerLink="/user-home/{{userID}}" 
      routerDirection="back">Cancel</ion-button>
      <ion-button id="done-btn" (click)="joinGroup()">Done</ion-button>
    </div>
  </div>
</ion-content>