<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

    <ion-buttons>
      <ion-back-button defaultHref="/home">Back</ion-back-button>
    </ion-buttons>
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <!--Container div holds main content-->
  <div id="container">
    <!--title-div wraps title for display purposes-->
    <div id="title-div">
      <strong class="title">join a group!</strong>
    </div>
    <ion-item lines="none">
      <ion-input [clearOnEdit]="true" class="input" placeholder="group code" [(ngModel)]="code"></ion-input>
    </ion-item>

    <!--TODO: use grid to get these on same line-->
    <ion-button id="done-btn" (click)="joinGroup()">Done</ion-button>
    <ion-button id="cancel-btn" routerLink="/user-home/{{userID}}" routerDirection="back">Cancel</ion-button>
  </div>
</ion-content>