<ion-header>
  <ion-toolbar>
    <ion-title>user-home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

    <ion-toolbar>
      <ion-title size="large">User Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Welcome home, Claus :)</strong>

  </div>
  <ion-button expand="full" (click)="requestPermission()">Request Permission</ion-button>
  <ion-button expand="full" (click)="changeDatabase(0)">Send Message</ion-button>
</ion-content>