<ion-header collapse="condense" class="header ion-padding-vertical">

  <ion-toolbar class="brown-background">
    <!--TODO: how to get text to wrap??-->
    <ion-title size="large">Welcome home, Claus :)</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <div class="content">
    <div class="my-groups">
      <strong>My groups</strong>
    </div>
    <ng-container *ngFor="let group of groups; even as isEven">
      <!--Alternating color on even/odd from https://stackoverflow.com/questions/72541404/make-every-odd-row-different-color-than-even-row-angular-and-css-->
      <group-banner groupName={{group.Name}} [gifteeName]=gifteeName(group.id)
        exchangeDate={{group.date}} [bgColor]="isEven?'green':'red'"
        routerLink="/group-view/{{group.id}}/{{userID}}"></group-banner>
    </ng-container>

    <div class="foot-div">
      <ion-button routerLink="/edit-profile/{{userID}}" routerDirection="back">Profile</ion-button>
      <ion-button routerLink="/new-group/{{userID}}" id="plus-button" shape="round">+</ion-button>
      <ion-button (click)="logout()">Logout</ion-button>
    </div>

  </div>

  <!-- <ion-button expand="full" (click)="requestPermission()">Request Permission</ion-button> -->

</ion-content>