// class to set bkgd to brown (for ion-toolbar)
.brown-background {
    --background: #251605;
}

// styling for content below header
.content {
    margin-left: 3%;
}

// alternate green/red colors for buttons!!
// this is very exciting!!!
group-banner:nth-child(even) {
    background-color: #138A36;
    --background-activated: #138A36;
  }
  
group-banner:nth-child(odd) {
    background-color: #CC2936;
    --background-activated: #CC2936;
  }

// keep profile, new group buttons at bottom of page
.foot-div {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0%;
    width: 95%;
}

// class for styling page header
.header {
    background-color: #251605;
    height: 20%;
}

// style buttons at bottom of page
ion-button {
    --background: #F3B700;
    --background-activated: #F3B700;
    font-size: larger;
}

.ion-text-wrap {
    white-space: normal;
}

// styling for page title/welcome msg
ion-title {
    color: #FFFCF2;
    font-family: 'Inconsolata';
    font-size: 1.9em;
    height: 100%;
    text-align: center;
    white-space: normal;
}

// set padding for page header
.ion-padding-vertical {
    padding: 15% 0;
}

// styling for strong text ("My groups")
.my-groups {
    color: #251605;
    font-size: 1.5em;
    margin-top: 5%;
    margin-bottom: 5%;
}

// style new group button
#plus-button {
    background-color: #F3B700;
    border-radius: 50%;
    font-size: xx-large;
    height: 8vh;
    text-align: center;
    // width:9vw;
} 