<ion-header collapse="condense">
  <ion-buttons>
    <ion-back-button defaultHref="/sign-up">Back</ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <!--title-div wraps title for display purposes-->
    <div id="title-div">
      <strong class="title">finish profile</strong>
    </div>

    <form (ngSubmit)="finishProfile()" [formGroup]="details">
      <ion-item lines="none">
        <ion-input class="input"
        placeholder="name" formControlName="name" required></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input class="input" type="tel" 
        placeholder="phone number"
        formControlName="phone" required></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-textarea class="input"
        placeholder="interests (cooking, coffee, Batman, etc.)"
        formControlName="interests" required></ion-textarea>
      </ion-item>

      <ion-button type="submit" [disabled]="!details.valid">Done</ion-button>

    </form>






  </div>
</ion-content>