<ion-header>
  <ion-toolbar>
    <ion-title>create-profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

    <ion-buttons>
      <ion-back-button defaultHref="/sign-up">Back</ion-back-button>
    </ion-buttons>
    
    <ion-toolbar>
      <ion-title size="large">Create profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Add details about your interests!</strong>
    <ion-button routerLink="/user-home">Done</ion-button>

  </div>
</ion-content>
