<ion-header collapse="condense">
  <ion-buttons>
    <ion-back-button defaultHref="/user-home/{{userID}}"></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content [fullscreen]="true">

  <!--Container div holds main content-->
  <div id="container">
    <!--title-div wraps title for display purposes-->
    <div id="title-div">
      <strong class="title">add group</strong>
    </div>
    <ion-button routerLink="/join-group/{{userID}}">Join group</ion-button>
    <ion-button routerLink="/create-group/{{userID}}">Create group</ion-button>
    <ion-button routerLink="/public-groups/{{userID}}">Find a public group</ion-button>
    <ion-button routerLink="/user-home/{{userID}}" routerDirection="back">Home</ion-button>
  </div>
</ion-content>