<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    
    <ion-buttons>
      <ion-back-button defaultHref="/home">Back</ion-back-button>
    </ion-buttons>
    <ion-toolbar>
      <!-- <ion-title size="large">Login</ion-title> -->
    </ion-toolbar>
  </ion-header>

  <!--Container div holds main content-->
  <div id="container">
    <!--title-div wraps title for display purposes-->
    <div id="title-div">
      <strong class="title">welcome back</strong>
    </div>
    <!--TODO: make this an ngfor display?-->
    <ion-item lines="none"><ion-input class="input">email</ion-input></ion-item>
    <ion-item lines="none"><ion-input class="input">password</ion-input></ion-item>
    
    <ion-button id="done-btn" routerLink="/user-home">Done</ion-button>
  </div>
</ion-content>
