<!-- Could not get around ion-button's max height for the life of me :( -->
<!-- <ion-button class="ion-text-wrap button" expand="full" size="large">
  <div class="button-content">
    <span id="group-name">Group name here</span>
    <div id="giftee">Gift for: Bob</div>
    <div id="exchange-date">Exchange: Dec 24, 2022</div>
  </div>
</ion-button> -->

<button class="button" (click)="goToGroupView()">
  <div class="button-content">
    <!--TODO: make text variables passed in from parent-->
    <span id="group-name">Group name here</span>
    <span id="button-subcontent"> <!--I think we'll need a grid here...-->
      <div id="giftee">Gift for: Bob</div>
      <div id="exchange-date">Exchange: Dec 24, 2022</div>
    </span>
  </div>
</button>